
.name {

  &__text {
    cursor: pointer;
    
    &--mobile {
      display: block;
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      
      @media (min-width: $tablet) { 
        display: none;
      }

      &__sub {
        font-size: 17px;
        line-height: 20px;
        margin-top: 10px;
        padding-left: 3px;
      }
    }
    
    &--desktop {
      display: none;
      font-weight: bold;
      font-size: 24px;

      @media (min-width: $tablet) { 
        display: block;
      }

      &__main {
        visibility: hidden;

        &.visible {
          visibility: visible;
        }
      }

      &__sub {
        font-size: 18px;
        visibility: hidden;
        position: absolute;
        top: 0;

        &.visible {
          visibility: visible;
        }
      }
    }
  }
}